* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: orange;
}
li {
  text-decoration: none;
}
.header {
  width: 100vw;
}

.main--content {
  padding-top: 10px;
  width: 90%;
  max-width: 100%-100px;
  margin-left: auto;
  margin-right: auto;
}

.header--body {
  display: flex;
}
.head--logo {
  width: 70px;
  height: 70px;
}

.nav {
  margin-left: auto;
}

.nav--menu {
  display: flex;
}
.menu--list {
  padding: 26px;
  position: relative;
}

.menu--list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: orangered;
  height: 3px;
  border-radius: 999px;
  width: 0;
}

.menu--list:hover a::after {
  width: 100%;
  transition: 0.4s;
}

.menu--list:hover a {
  color: black;
}
.btn {
  padding: 26px;
}

.btn--login {
  margin-left: auto;
}

.slider {
  width: 1000px;
  height: 600px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.slider--list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  transition: 1s;
}

.slider--list img {
  width: 1000px;
  height: 600px;
}

.btn--nav {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: orange;
}

.btn--nav button {
  width: 60px;
  height: 60px;
  border-radius: 999px;
  background-color: rgba(129, 129, 129, 0.585);
  color: orange;
  border: none;
  font-size: xx-large;
}
.btn--nav button:hover {
  background-color: rgba(255, 166, 0, 0.546);
  color: white;
}
.dots ul {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dots li {
  width: 10px;
  height: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 9999px;
}

.dots li.atv {
  width: 30px;
  background-color: orange;
  transition: 0.5s;
}

.main--body {
  display: flex;
  margin-top: 10px;
}

.aside {
  width: 15%;
  background-color: beige;
}

.iframe {
  width: 80%;
  height: 1430px;
  margin: auto;
  /* border-left: 1px solid black; */
}
/* footer css */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer--content p {
  margin: 0;
  font-size: 14px;
}

.social--inks a,
.footer--links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}

.social--links a:hover,
.footer--links a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
}
